/* ALGEMENE STYLING */
*, *::after, *::before {
    box-sizing:border-box;  
  }

:root {
	--background-darkmode:#000000;
	--background-lightmode:#ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: var(--background-darkmode);
}

/* FONTS */
h1,li {
    text-transform: uppercase;
}

h2 {
    padding: .3em;
    text-transform: uppercase;
    font-size: 1em;
    border: #ffffff;
    border-style: solid;
    border-width: .5px;
    display: inline-block;
}

p {
    text-transform: none;
    font-size: .8em;
}

/* NAVIGATIE */

nav ul li{
    display: inline;
    position: relative;
    left: 100px;
    margin-left: 1em;
}

nav ul a li img{
    position: relative;
    top:10px;
    left:380px;
    max-width: 100px;  
}

nav ul li:hover {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom:3px;
    border-bottom: 1px #ffffff solid;
}

nav ul li:last-of-type:hover {
    border-bottom: none;
}

/* HEADER */

#header {
    min-height:100vh;
}

#header img:nth-of-type(1) {
    position: absolute;
    top: 250px;
    left: 150px;
    max-width: 250px; 
}

#header img:nth-of-type(2) {
    position: absolute;
    bottom: 0px;
    right: -5px;
    min-width: 400px;
}

#header img:nth-of-type(3) {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    right: -5px;
    min-width: 400px;
}

@keyframes  wink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
  }

  95% {
    opacity: 1;
}
  
    100% {
        opacity: 0;
  }
  }

#header img:nth-of-type(3):hover {

    animation-name: wink; 
    animation-duration: .3s;
    animation-delay: .1s;
    animation-fill-mode:both;
}



/* MY WORK - portfolio cases */

#mywork {
    max-width: 720px;
    margin:auto;
}

#mywork h1 {
    margin-bottom:50px;
}

/* Cases */
#mywork-grid {
    padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 450px 450px 450px 450px 450px;
	grid-column-gap: 60px;
	grid-row-gap:40px;
}

#mywork ul li p {
    position: relative;
    top:-10px;
}

@keyframes  zoom-case {
    0% {
        transform: scale(1);
    }
  
    100% {
        transform: scale(1.04);
  }
  }

#mywork ul li:hover {
    animation-name: zoom-case; 
    animation-duration: .3s;
    animation-delay: .1s;
    animation-fill-mode:both;
}

/* Cases op eigen pagina */
.case-page {
    margin: auto;
    max-width: 600px;
}

.case-page img {
    max-width: 600px;
}

#pasta-img img {
    max-width: 300px;
    display: inline-block;
}

#pasta-img img:last-of-type {
    position: absolute;
    margin-left: 20px;
}

.case-page p {
    min-width: 600px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

.case-page h1 {
    margin-top: 100px;
}


/* random */
li {
    list-style: none;
}

img {
    max-width: 350px;
}

a {
    text-decoration: none;
    color:#fff;
}

/* Verschillende media queries voor wanneer je schermen heb groter dan 1100px */
@media (min-width: 1100px) and (max-width: 1200px) {
    /* NAVIGATIE */

    nav ul a li img{
        position: relative;
        top:10px;
        left:500px;
        max-width: 100px;  
    }
}

@media (min-width: 1200px) and (max-width: 1350px) {
    /* NAVIGATIE */

    nav ul a li img{
        position: relative;
        top:10px;
        left:600px;
        max-width: 100px;  
    }

    #header img:nth-of-type(1) {
        position: absolute;
        top: 250px;
        left: 200px;
        max-width: 250px; 
    }
    nav ul li{
        display: inline;
        position: relative;
        left: 150px;
        margin-left: 1em;
    }
}

@media (min-width: 1350px) and (max-width: 1500px) {
    /* NAVIGATIE & header */

    nav ul a li img{
        position: relative;
        top:10px;
        left:750px;
        max-width: 100px;  
    }

    #header img:nth-of-type(1) {
        position: absolute;
        top: 250px;
        left: 200px;
        max-width: 250px; 
    }
    nav ul li{
        display: inline;
        position: relative;
        left: 150px;
        margin-left: 1em;
    }
}

/* Mobile schermen */

@media (min-width: 300px) and (max-width: 800px) {
    
    nav ul li{
        display: inline;
        position: relative;
        left: -15px;
        top:10px;
        margin-left: .5em;
        font-size: 1.15em;
    }
    
    nav ul a li img{
        position: relative;
        top:-30px;
        left:310px;
        max-width: 100px;  
    }

    /* header */

    #header {
        min-height: 1020px;
    }
    
    #header img:nth-of-type(1) {
        position: absolute;
        top: 250px;
        left: 70px;
        max-width: 350px; 
    }
    
    #header img:nth-of-type(2) {
        position: absolute;
        top: 530px;
        left: 30px;
        min-width: 450px;
    }

    /* Cases */
#mywork-grid {
    padding: 0;
    
	display: grid;
	grid-template-columns: 320px;
	grid-template-rows: 450px 450px 450px 450px 450px;
	grid-column-gap: 60px;
	grid-row-gap:40px;
}

#mywork ul li p {
    position: relative;
    top:-10px;
}

#mywork {
position: relative;
padding: 0 65px 0 65px;
}

#mywork h1 {
    margin-bottom:50px;
}

/* Pages cases */

.case-page {
    margin: 0 35px 0 35px;
    max-width: 300px;
}

.case-page img {
    max-width: 375px;
}

#pasta-img img {
    max-width: 300px;
    display: block;
}

#pasta-img img:last-of-type {
    margin-top: 20px;
    margin-left: 0px;
}

.case-page p {
    min-width: 350px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

.case-page h1 {
    margin-top: 0;
} 
}